.local-form {
    width: 98%;
    padding: 15px 15px 15px 15px;
  }
  
  .local-cad-grid-full-width {
    width: 100%;
  }

  .local-cad-grid-half-width{
    width: 50%;
  }
  
  .mat-card-local{
    border: 1px solid #CFD8DC;
    border-radius: 4px 3px 6px / 2px 4px;
    margin: 5px;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;  
    vertical-align: middle;
}

.form-control:focus {
  outline: 0 !important;
  border-color: initial;
  box-shadow: none;
}

.btn-outline-secondary {
    background-color: #FFA500;
    border-color: #FFA500;
}